html {
  overscroll-behavior: none;
}

body {
  font-family: sans-serif;
  font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Take full viewport height */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .odd-or-even {
  text-transform: capitalize;
  font-weight: bold;
}

.header {
  font-size: 4em;
  animation: slideInFromTop 1s ease forwards;
  margin: 0;
}

.description {
  font-size: 1.5em;
  animation: slideInFromLeft 1s ease forwards;
  margin: 0.5em;
}

.date {
  font-size: 0.75em;
  animation: fadeInFromNone 3s ease-out;
  margin: 0.5em;
}

.footer {
  font-size: 0.75em;
  animation: slideInFromRight 1s ease forwards;
  margin: 0.5em;
}

.install-pwa {
  text-decoration: none;
  font-size: 1em;
  width: 150px;
  height: 50px;
  animation: slideInFromBottom 1s ease forwards;
  margin: 2em;
}

.hidden {
  display: none;
}

.oe-decorator {
  display: inline;
  font-family: Apple Color Emoji
}

.button-decorator {
  display: inline;
}

button {
  color: black;
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-500%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}

/* responsive design elements */

@media only screen and (min-device-width: 50px) {
  .header {
    font-size: 2em;
  }
  .description {
    font-size: 1em;
    text-transform: capitalize;
  }
  .date {
    font-size: 0.5em;
  }
  .footer {
    font-size: 0.5em;
  }
  .oe-decorator,
  .button-decorator,
  .description-decorator,
  .footer-decorator {
    display: none;
  }
  .install-pwa {
    width: 100px;
    height: 50px;
  }
}

@media only screen and (min-device-width: 100px) {
  .header {
    font-size: 4em;
  }
  .description {
    font-size: 2em;
    text-transform: capitalize;
  }
  .date {
    font-size: 1em;
  }
  .footer {
    font-size: 1em;
  }
  .oe-decorator,
  .button-decorator,
  .description-decorator,
  .footer-decorator {
    display: none;
  }
  .install-pwa {
    width: 100px;
    height: 50px;
  }
}

@media only screen and (min-device-width: 320px) {
  .header {
    font-size: 4em;
  }
  .description {
    font-size: 2em;
    text-transform: capitalize;
  }
  .date {
    font-size: 1em;
  }
  .footer {
    font-size: 1em;
  }
  .install-pwa {
    width: 120px;
    height: 50px;
  }
  .oe-decorator,
  .button-decorator{
    display: inline-block;
  }
  .description-decorator,
  .footer-decorator {
    display: none;
  }
}


@media only screen and (min-device-width: 375px) {
  .header {
    font-size: 5em;
  }
  .description {
    font-size: 2em;
    text-transform: capitalize;
  }
  .date {
    font-size: 1em;
  }
  .footer {
    font-size: 1em;
  }
  .install-pwa {
    width: 150px;
    height: 50px;
  }
  .oe-decorator,
  .button-decorator {
    display: inline-block;
  }
  .description-decorator,
  .footer-decorator {
    display: none;
  }
}

@media only screen and (min-device-width: 430px) {
  .header {
    font-size: 6em;
  }
  .description {
    font-size: 2em;
    text-transform: none;
  }
  .date {
    font-size: 1em;
  }
  .footer {
    font-size: 1em;
  }
  .install-pwa {
    width: 160px;
    height: 50px;
  }
  .oe-decorator,
  .button-decorator{
    display: inline-block;
  }
  .description-decorator,
  .footer-decorator {
    display: inline-block;
  }
}

@media only screen and (min-device-width: 768px){
  .header {
    font-size: 8em;
  }
  .description {
    font-size: 3em;
  }
  .date {
    font-size: 1.5em;
  }
  .footer {
    font-size: 1.5em;
  }
  .install-pwa {
    width: 170px;
    height: 50px;
  }
  .oe-decorator,
  .button-decorator{
    display: inline-block;
  }
  .description-decorator,
  .footer-decorator {
    display: inline-block;
  }
}
